.header {
    background-color: antiquewhite;
    text-align: center;
    margin: 0 auto;
}
h2 {
    color: rgb(0, 0, 0);
}
.inputClass {
    width: 250px;
    height: 30px;
    font-size: 17px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
}
.addButton {
    margin: 10px;
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
.container {
    width: 100%;
    background-color: gray;
    height: 400px;
    overflow: auto;
}
#edit {
    margin: 10px;
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
}
#delete {
    margin: 10px;
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    background-color: rgb(185, 10, 10);
    margin: 5px;
}