.header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(137,104,145,1) 0%, rgba(83,94,131,1) 100%, rgba(0,212,255,1) 100%);
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}
.header ** {
  font-family: Arial;
}
.container ** {
  font-family: Arial;
}
h2 {
    color: white;
}
.inputClass {
    width: 250px;
    height: 30px;
    font-size: 17px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
}
.addButton {
    margin: 10px;
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
  background: rgb(130,127,173);
  background: linear-gradient(90deg, rgba(130,127,173,1) 0%, rgba(219,219,219,1) 0%, rgba(185,185,185,1) 100%, rgba(0,212,255,1) 100%);
}
.container {
    width: 100%;
    background-color: gray;
    height: 400px;
    overflow: auto;
    background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(137,104,145,1) 0%, rgba(83,94,131,1) 100%, rgba(0,212,255,1) 100%);
}
#edit {
    margin: 10px;
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
}
#delete {
    margin: 10px;
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.buttonsUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.buttons {
    background-color: rgb(185, 10, 10);
    margin: 5px;
    color: white;
    font-size: 20px;
  background: rgb(21,205,141);
  background: linear-gradient(270deg, rgba(21,205,141,1) 0%, rgba(60,60,60,1) 0%, rgba(154,144,167,1) 100%, rgba(13,214,255,1) 100%);

}
.infobar {
  height: 30px;
  background-color: #ffffff;
  margin-top: -5px;
}
.info {
  margin: 5px;
}
.inline li {
  display: inline;
  padding-right: 60px;
}
.inline {
  margin-left: 150px;
}
.chkbx {
  margin-left: 30px;
  margin-right: 30px;
}
.deadline {
  margin-right: 30px;
  margin-left: 30px;
}
